<footer id="footer">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h6 class="footer-title">{{'FOOTER.SOCIAL' | translate}}</h6>
            <ul class="footer-links">
              <li><a routerLink="/home"> <i class="fa fa-facebook"></i> {{'FOOTER.FACEBOOK' | translate}} </a></li>
              <li><a routerLink="/home"> <i class="fa fa-twitter"></i> {{'FOOTER.TWITTER' | translate}} </a></li>
              <li><a routerLink="/home"> <i class="fa fa-instagram"></i> {{'FOOTER.INSTAGRAM' | translate}} </a></li>
              <li><a routerLink="/home"> <i class="fa fa-youtube"></i> {{'FOOTER.YOUTUBE' | translate}} </a></li>
              <li><a routerLink="/home"> <i class="fa fa-google-plus"></i>{{'FOOTER.GPLUS' | translate}}</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">{{'FOOTER.CATEGORIES' | translate}}</h3>
            <ul class="footer-links">
              <li><a routerLink="/home">{{'FOOTER.HOTDEALS' | translate}}</a></li>
              <li><a routerLink="/home">{{'FOOTER.LAPTOPS' | translate}}</a></li>
              <li><a routerLink="/home">{{'FOOTER.SMARTPHONES' | translate}}</a></li>
              <li><a routerLink="/home">{{'FOOTER.CAMERAS' | translate}}</a></li>
              <li><a routerLink="/home">{{'FOOTER.ACCESSORIES' | translate}}</a></li>
            </ul>
          </div>
        </div>

        <div class="clearfix visible-xs"></div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">{{'FOOTER.INFORMATION' | translate}}</h3>
            <ul class="footer-links">
              <li><a routerLink="/home">{{'FOOTER.ABOUTUS' | translate}}</a></li>
              <li><a routerLink="/home">{{'FOOTER.CONTACTUS' | translate}}</a></li>
              <li><a routerLink="/home">{{'FOOTER.PRIVACYPOLICY' | translate}}</a></li>
              <li><a routerLink="/home">{{'FOOTER.ORDERSNRETURNS' | translate}}</a></li>
              <li><a routerLink="/home">{{'FOOTER.TNC' | translate}}</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">{{'FOOTER.SERVICE' | translate}}</h3>
            <ul class="footer-links">
              <li><a routerLink="/home">{{'FOOTER.MYACCOUNT' | translate}}</a></li>
              <li><a routerLink="/home">{{'FOOTER.VIEWCART' | translate}}</a></li>
              <li><a routerLink="/home">{{'FOOTER.WISHLIST' | translate}}</a></li>
              <li><a routerLink="/home">{{'FOOTER.TRACKORDER' | translate}}</a></li>
              <li><a routerLink="/home">{{'FOOTER.HELP' | translate}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="bottom-footer" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <span class="copyright">
            {{'FOOTER.COPYRIGHT' | translate}} &copy;
            <script>document.write(new Date().getFullYear());</script> {{'FOOTER.ALLRIGHTSRESERVED' | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
